<li class="nav-item <%= active?(posts_path) %>">
  <%= link_to "Entries", posts_path, class: "nav-link" %>
</li>

<ul class="navbar-nav ml-md-auto">
  <li class="nav-item <%= active?(new_post_path) %>">
     <%= link_to "Request Overtime", new_post_path, class: "nav-link" %>
  </li>
</ul>
