<div class="jumbotron">
  <h1>Hi Admin!</h1>
</div>
<div class="row">
  <h3>Pending Overtime Approvals</h3>
</div>
<div class="row justify-content-center">
  <%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals } %>
</div>


<div class=" card pending-submissions">

</div>
