<div class="jumbotron">
    <h1 class="text-center">All Posts</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				#
			</th>
      <th>
        Overtime Requested (hours)
      </th>
			<th>
				Date
			</th>
			<th>
				User
			</th>
			<th>
				Rationale
			</th>
      <th>
        Status
      </th>
      <th colspan = 2 >
        Actions
      </th>
		</tr>
	</thead>
	<tbody>
    <%= render @posts %>
	</tbody>
</table>

<%= paginate @posts %>
