<div class="jumbotron">
    <h1 class="text-center">All Posts</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				#
			</th>
      <th>
        Overtime Requested (hours)
      </th>
			<th>
				Date
			</th>
			<th>
				User
			</th>
			<th>
				Rationale
			</th>
      <th>
        Status
      </th>
      <th colspan = 2 >
        Actions
      </th>
		</tr>
	</thead>
	<tbody id="posts">
    <%= render @posts %>
	</tbody>
</table>

<div class="row justify-content-center" id="paginator">
  <%= paginate @posts, remote: true %>
</div>
