@import "bootstrap";
@import "posts.scss";
@import "gritter";
@import "bourbon";
@import "font-awesome";

.badge {
  padding: 0.25rem!important;
  margin-top: 19px;
}

.action-icon {
  font-size: 1.5em;
}
