@import "bootstrap";
@import "posts.scss";
@import "admin_homepage.scss";
@import "audit_logs.scss";
@import "gritter";
@import "bourbon";
@import "font-awesome";


.card {
  margin: 3px;
  padding-left: 0px!important;
  padding-right: 0px!important;

  .card-body {
    background-color: white;
  }
  .card-body:hover {
    background-color: #efefef;
  }
}

.badge {
  padding: 0.25rem!important;
}

.action-icon {
  font-size: 1.5em;
}

.btn-employee-home {
  white-space: normal !important;
}
